* {
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    
}

section {
    margin: 12px;
    padding: 12px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 1.0;
}

div {
    margin: 12px;
    padding: 5px;
}